@page "/shorten"
@inject UrlShortnerService UrlShortnerService

<input type="text" @bind="OriginalUrl" />
<button @onclick="ShortenUrl">Shorten URL</button>
<input type="text" value="@ShortenedUrl" readonly />

@code {
    string? OriginalUrl { get; set; }
    string? ShortenedUrl { get; set; }

    void ShortenUrl()
    {
        ShortenedUrl = UrlShortnerService.ShortenUrl(OriginalUrl!);
    }
}
